<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="../configs/connectDB.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Home</title>
  </head>
  <body>
    <div class="w3-navbar">
      <a class="active" href="/home"><i class="fa fa-fw fa-home"></i>Home</a></a>
      <a href="/controll-panel"><i class="fa fa-fw fa-wrench"></i>Controll panel</a>
      <a href="/sign-in"><i class="fa fa-fw fa-bar-chart"></i>Sign in</a>
    </div>
    <div class="w3-container">
      <h2>Status table</h2>
      <div class="container">
        <canvas id="myChart"></canvas>
      </div>
      <div>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-gray">
              <th>Open</th>
              <th>Close</th>
              <th>Error</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < 1; i++) { %>
              <tr>
                <td><%= data[0].count %></td>
                <td><%= data[1].count %></td>
                <td><%= data[2].count %></td>
                <td>
                  <form action="/delete-status" , method="post">
                    <input
                      type="text"
                      hidden
                      value="<%= data[i].id %>"
                      name="statusId"
                    />
                    <button type="submit" class="btn-CRUD">Delete</button>
                  </form>
                </td>
            </tr>
            <% } %>
          </tbody>
    </div>

    <script type="text/javascript">
      var url = "ahkiot.herokuapp.com"; 
      var ws = new WebSocket("wss://" + url); 
      ws.onopen = function () 
      {
        ws.send(JSON.stringify({
          status: "Connected",
          pathname: '/home'
        }));
      };
      // const get_count = async() =>{
        // const rows  = pool.execute('SELECT COUNT(*) AS `countopen` FROM `trangthai` WHERE status = "open"');
        // console.log(rows);
        // }
        // get_count();
      let myChart = document.getElementById('myChart').getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let massPopChart = new Chart(myChart, {
          type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
          data:{
            labels:['Open', 'Close', 'Error'],
            datasets:[{
              label:'Status',
              data:[
                25,
                30,
                5,
              ],
              //backgroundColor:'green',
              backgroundColor:[
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 99, 132, 0.6)'
              ],
              borderWidth:1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'
            }]
          },
          options:{
            title:{
              display:true,
              text:'Status Chart',
              fontSize:25
            },
            legend:{
              display:true,
              position:'right',
              labels:{
                fontColor:'#000'
              }
            },
            layout:{
              padding:{
                left:50,
                right:0,
                bottom:0,
                top:0
              }
            },
            tooltips:{
              enabled:true
            }
          }
        });

      ws.onclose = function () {
        alert("Server destroyed!");
      };
    </script>
  </body>
</html>
